body {
  margin: 0;
  font-family: "Mohave", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: "Zen Antique", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button,
img {
  user-select: none;
}

p {
  line-height: 1.8;
}
